@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F1F5F9] text-slate-800 antialiased selection:bg-blue-500/20 selection:text-blue-900;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}


